* {
    margin: 0px;
    padding: 0px;
}
:root {
    --link-color: var(--secondary);
    --link-hover-color: rgba(0, 0, 0, 0.8);
    --input-color: #808080;
    --focus-color: rgb(56, 56, 56);
    --primary: #333333;
    --secondary: #0099FF;
    --accent: #CCCCCC;
    --background: #F5F5F5;
    --headerfooter: #e2e3e5;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 290px; /* Footer height */
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    background-color: var(--background);
    color: var(--primary);
}
h1 {
    color: var(--accent);
    transition: color 0.15s;
}
h1:hover {
    color: var(--accent);
}
h2, h3, h4 {
    color: var(--primary);
}
p {
    color: var(--primary);
}
.mm-product img {
    transition: transform 0.2s;
}
.mm-product img:hover {
    transform: scale(1.1);
}
.mm-product p {
    color: var(--secondary);
}
.mm-product s {
    color: var(--primary);
}
a {
    color: var(--primary);
    transition: color 0.15s;
}
a:hover {
    color: var(--accent);
}

header, footer {
    background-color: var(--headerfooter);
}
header {
    border-bottom: 1px solid var(--secondary);
}
footer {
    border-top: 1px solid var(--secondary);
}
#footer-info .nav-link p {
    color: var(--secondary);
    transition: color 0.15s;
}
#footer-info .nav-link p:hover {
    color: var(--accent);
}

.accordion-button {
    background-color: var(--accent) !important;
    color: var(--primary) !important;
}

#price {
    color: var(--secondary);
}

#heading-options button {
    background-color: var(--headerfooter);
    transition: background-color 0.15s;
}

#heading-options .btn-outline-primary {
    border: 1px solid var(--secondary) !important;
}

#post-add button, #post-add a{
    background-color: var(--headerfooter);
    transition: background-color 0.15s;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--accent);
    padding: 5px 0px;
}

#post-add button:hover, #post-add a:hover {
    background-color: var(--accent);
}

#heading-options button:hover {
    background-color: var(--accent);
}
.mm-switch {
    background-color: var(--primary);
    color: var(--accent);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.15s;
}
.mm-switch:hover {
    background-color: var(--input-color);
}

h1 {
    color: var(--secondary);
}
body tbody, .form-control, #cart-items button {
    font-size: 0.9rem !important;
}
.nav-link {
    color: var(--primary) !important;
}
.nav-link:hover {
    color: var(--accent) !important;
}
i {
    color: var(--primary);
    transition: color 0.15s;
}
i:hover {
    color: var(--accent);
}
i.fa-cart-shopping {
    position: relative;
    padding: 0px 5px;
    font-size: 1.25rem;
}
.cart-item-number {
    position: absolute;
    padding: 5px;
    top: -10px;
    right: -10px;
    width: 18px;
    height: 18px;
    background-color: var(--primary);
    border-radius: 50%;
    color: var(--accent);
    text-align: center;
    font-size: 0.8rem !important;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--secondary);
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

#loading img {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mm-dark {
    background-color: rgba(0, 0, 0, 0.65);
}

section {
    width: 90%;
    margin: 0px auto;
}

.mm-hr, #welcome, #footer-content, #offer, #reviews, #course-offers, #contact-reviews-slider, #contact-section {
    width: 90%;
    margin: 0px auto;
}
.mm-vertical-line {
    position: absolute;
    height: 75%;
    top: 12.5%;
    right: 0px;
    outline: 1px solid rgba(128, 128, 128, 0.5);
}

.mm-product {
    width: 90%;
}

.mm-product > div {
    border-radius: 5px;
    border-bottom: 1px solid lightgray;
}

.mm-switches {
    font-size: 0.9rem;
    padding-top: 25px;
}

#heading-options {
    display: flex;
    flex-wrap: wrap;
}

.mm-quantity {
    width: 80px;
}

.mm-quantity button {
    padding: 0px;
    border: 1px solid lightgray;
    width: 35%;
}

.mm-quantity :first-child {
    border-radius: 25px 0px 0px 25px;
}

.mm-quantity :last-child {
    border-radius: 0px 25px 25px 0px;
}

.red {
    color: red;
}

.error-text {
    font-size: 0.7rem;
    line-height: 15px;
    color: darkred;
    position: absolute;
}

button, input {
    font-size: 0.9rem;
}

tr td img {
    max-height: 50px;
    max-width: 100%;
}

/* Header */
#nav-menu-container {
    width: 90%;
}
#nav-menu-container .collapse {
    flex-grow: 0;
}
#nav-menu-container .collapse ul {
    width: 100%;
    justify-content: space-between;
}

#cart {
    margin-top: 20px;
}

/* footer */
footer {
    /* Keeps footer at the bottom of the screen */
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#footer-content {
    height: 290px; /* Default (mobile) footer height */
}
#footer-info {
    height: 45%;
}
#to-top-btn {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 30px;
}
#author-container { 
    margin-top: 50px;
}
#author-picture-container img {
    max-height: 400px;
}

#add-to-cart {
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    width: 100%;
}

#welcome {
    width: 100%;
    height: clamp(250px, 50vw, 800px);
    background-image: url("../img/Banner.jpg");
    background-position-x: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid var(--secondary);
}

#welcome h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: var(--accent);
}

#welcome div {
    width: 80%;
    padding: 10px;
    border-radius: 25px;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.45);
}

#welcome div p {
    text-align: justify;
    font-size: 0.9rem;
    color: var(--background);
}

#promo {
    width: 100%;
    height: clamp(150px, 50vw, 350px);
    background-image: url("../img/Promo.jpg");
    background-size: cover;
    align-items: center;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

#promo div {
    background-color: var(--background);
    border: 1px solid var(--accent);
    width: 80%;
    border-radius: 25px;
    padding: 25px;
}

#promo div button {
    display: block;
    margin: 0px auto;
    text-align: center;
    background-color: var(--primary);
    color: var(--accent);
    transition: background-color 0.15s;
}
#promo div button:hover {
    background-color: var(--input-color);
}

#promo div p {
    font-size: 0.9rem;
    text-align: justify;
    color: var(--primary);
}