* {
    margin: 0px;
    padding: 0px;
}
:root {
    --link-color: rgba(0, 0, 0, 0.65);
    --link-hover-color: rgba(0, 0, 0, 0.8);
    --input-color: #808080;
    --focus-color: rgb(56, 56, 56);
    --primary: #4682B4;
    --secondary: #FFA500;
    --accent: #3A3A3A;
    --background: #A9A9A9;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 290px; /* Footer height */
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

body tbody, .form-control, #cart-items button {
    font-size: 0.9rem !important;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

#loading img {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mm-dark {
    background-color: rgba(0, 0, 0, 0.65);
}

section {
    width: 90%;
    margin: 0px auto;
}

.mm-hr, #welcome, #footer-content, #offer, #reviews, #course-offers, #contact-reviews-slider, #contact-section {
    width: 90%;
    margin: 0px auto;
}
.mm-vertical-line {
    position: absolute;
    height: 75%;
    top: 12.5%;
    right: 0px;
    outline: 1px solid rgba(128, 128, 128, 0.5);
}

.mm-product {
    width: 90%;
}

.mm-product > div {
    border-radius: 5px;
    border-bottom: 1px solid lightgray;
}

.mm-switches {
    font-size: 0.9rem;
    padding-top: 25px;
}

#heading-options {
    display: flex;
    flex-wrap: wrap;
}

.mm-quantity {
    width: 80px;
}

.mm-quantity button {
    padding: 0px;
    border: 1px solid lightgray;
    width: 35%;
}

.mm-quantity :first-child {
    border-radius: 25px 0px 0px 25px;
}

.mm-quantity :last-child {
    border-radius: 0px 25px 25px 0px;
}

.red {
    color: red;
}

.error-text {
    font-size: 0.7rem;
    line-height: 15px;
    color: darkred;
    position: absolute;
}

button, input {
    font-size: 0.9rem;
}

tr td img {
    max-height: 50px;
    max-width: 100%;
}

/* Header */
#nav-menu-container {
    width: 90%;
}
#nav-menu-container .collapse {
    flex-grow: 0;
}
#nav-menu-container .collapse ul {
    width: 100%;
    justify-content: space-between;
}

/* footer */
footer {
    /* Keeps footer at the bottom of the screen */
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#footer-content {
    height: 290px; /* Default (mobile) footer height */
}
#footer-info {
    height: 45%;
}
#socials-container {
    padding: 10px 0px;
}
#to-top-btn {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 30px;
}
i {
    color: var(--link-color);
    transition: color 0.15s;
}
i:hover {
    color: var(--link-hover-color);
}
#author-container { 
    margin-top: 50px;
}
#author-picture-container img {
    max-height: 400px;
}

#add-to-cart {
    border-radius: 20px;
    border: 1px solid lightgray;
    padding: 10px;
    width: 100%;
}

#welcome {
    width: 100%;
    height: clamp(250px, 50vw, 800px);
    background-image: url("../img/Banner.jpg");
    background-position-x: center;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid lightgray;
}

#welcome h2 {
    margin-bottom: 10px;
}

#welcome div {
    width: 80%;
    padding: 10px;
    border-radius: 25px;
    margin: 0px auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.45);
}

#welcome div p {
    text-align: justify;
    font-size: 0.9rem;
}

#promo {
    width: 100%;
    height: clamp(150px, 50vw, 350px);
    background-image: url("../img/Promo.jpg");
    background-size: cover;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#promo div {
    background-color: lightgray;
    width: 80%;
    border-radius: 25px;
    padding: 25px;
}

#promo div button {
    display: block;
    margin: 0px auto;
    text-align: center;
}

#promo div p {
    font-size: 0.9rem;
    text-align: justify;
}